doctype html
html
   head
      title=title
      meta(content="IE=edge")(http-equiv="X-UA-Compatible")
      meta(name="keyword")(content=keyword)
   body
      h2.header=heading
      p.greetings#people=description